$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'https://assets.clippings.com' !default;

$icon-plus: '\e901';
$icon-search: '\e903';
$icon-invite: '\e900';
$icon-facebook: '\e00d';
$icon-arrow_right: '\e011';
$icon-twitter: '\e012';
$icon-delivery: '\e014';
$icon-basket: '\e018';
$icon-fb: '\e019';
$icon-twitter2: '\e01c';
$icon-last: '\e603';
$icon-email: '\e606';
$icon-factory: '\e60b';
$icon-secure: '\e611';
$icon-first: '\e618';
$icon-clippings-logo: '\e620';
$icon-user: '\e621';
$icon-package: '\e627';
$icon-pinterest: '\e63b';
$icon-clock: '\e640';
$icon-pinterest-landing: '\e902';
$icon-logo: '\e905';
$icon-linkedin: '\e907';
$icon-shipping-package: '\e90c';
$icon-pound-in-circle: '\e912';
$icon-zoom-in: '\e913';
$icon-bleaching: '\e914';
$icon-dry-cleaning: '\e915';
$icon-ironing: '\e916';
$icon-tumble-drying: '\e917';
$icon-washing: '\e918';
$icon-zoom-out: '\e919';
$icon-instagram-about: '\e91a';
$icon-plus-in-circle: '\e91f';
$icon-project: '\e920';
$icon-cart: '\e921';
$icon-more: '\e922';
$icon-link: '\e923';
$icon-bin: '\e924';
$icon-file-text: '\e928';
$icon-team: '\e929';
$icon-navigation: '\e92a';
$icon-users: '\e92b';
$icon-trade-package: '\e92c';
$icon-arrow-up-circle: '\e92d';
$icon-check-in-circle: '\e937';
$icon-picker: '\e939';
$icon-bell: '\e93a';
$icon-th: '\e93b';
$icon-th-list: '\e955';
$icon-clipboard: '\e93c';
$icon-extension: '\e93d';
$icon-happy: '\e93e';
$icon-calendar: '\e93f';
$icon-padlock: '\e940';
$icon-warning: '\e941';
$icon-box: '\e942';
$icon-hand-package: '\e943';
$icon-truck: '\e944';
$icon-download: '\e946';
$icon-copy: '\e947';
$icon-move-to: '\e948';
$icon-trash: '\e949';
$icon-sort: '\e94b';
$icon-arrow-up: '\e94c';
$icon-close: '\e94d';
$icon-restore: '\e94e';
$icon-chevron-up: '\e950';
$icon-edit: '\e954';
$icon-tick: '\e956';
$icon-folder: '\e957';
$icon-message: '\e958';
$icon-chevron-double-up: '\e95d';
$icon-chrome-path1: '\e92e';
$icon-chrome-path2: '\e92f';
$icon-chrome-path3: '\e930';
$icon-chrome-path4: '\e931';
$icon-chrome-path5: '\e932';
$icon-chrome-path6: '\e933';
$icon-chrome-path7: '\e934';
$icon-chrome-path8: '\e935';
