$base-font-size: 16px;

$display-100-font-style: normal;
$display-100-font-weight: 500;
$display-100-font-size: 20px;
$display-100-line-height: 24px;

$display-110-font-style: normal;
$display-110-font-weight: 600;
$display-110-font-size: 32px;
$display-110-line-height: 36px;

$yellow-64: #f1b056;
$success-48: #4aab4a;
$white: #ffffff;
$graphite-10: #f5f5f5;
$graphite-120: #141414;
$graphite-96: #f5f5f5;
$graphite-90: #525252;
$graphite-60: #8f8f8f;
$graphite-30: #cccccc;

$text-200-font-style: normal;
$text-200-font-weight: 500;
$text-200-font-size: 12px;
$text-200-line-height: 16px;

$screen-sm: 768px;

$form-input-base-height: 48px;
$form-input-border-radius: 2px;

$text-250-font-style: normal;
$text-250-font-weight: 500;
$text-250-font-size: 14px;
$text-250-line-height: 20px;

$text-250e-font-style: normal;
$text-250e-font-weight: 600;
$text-250e-font-size: 14px;
$text-250e-line-height: 20px;

//$gray-base:              #000 !default;
$gray-darkest: #111;
$gray-darker: lighten(#000, 13.5%); // #222222
$gray-dark: lighten(#000, 20%); // #333333
$gray: lighten(#000, 40%); // #666666
$gray-light: lighten(#000, 60%); // #999999
$gray-lighter: lighten(#000, 80%); // #CCCCCC
$gray-lightest: #eee;
$gray-background: #f7f7f7;
$gray-text: #9896a4;
$gray-border: #dedede;

// social media colors
$color-twitter: #03aaf5;
$color-pinterest: #d02621;

// brand colors
$brand-primary: #111;
$brand-secondary: #fff;
$brand-inverse: #fff;
$brand-active: #f7786b;
$brand-primary-default: darken(#428bca, 6.5%);

$statusColors: (
  'neutral': $gray-light,
  'undefined': transparent,
  'success': darken(#5cb85c, 15%),
  'info': #5bc0de,
  'ready': $brand-primary-default,
  'warning': #f0ad4e,
  'danger': #d9534f,
);

$brand-success: map-get($statusColors, 'success');
$brand-info: map-get($statusColors, 'info');
$brand-ready: map-get($statusColors, 'ready');
$brand-warning: map-get($statusColors, 'warning');
$brand-danger: map-get($statusColors, 'danger');
$brand-neutral: map-get($statusColors, 'neutral');
$brand-undefined: map-get($statusColors, 'undefined');
