$base-font-size: 16px;

$display-100-font-style: normal;
$display-100-font-weight: 500;
$display-100-font-size: 20px;
$display-100-line-height: 24px;

$display-110-font-style: normal;
$display-110-font-weight: 600;
$display-110-font-size: 32px;
$display-110-line-height: 36px;

$display-200-font-style: normal;
$display-200-font-weight: 500;
$display-200-font-size: 24px;
$display-200-line-height: 28px;

$yellow-64: #f1b056;
$success-48: #4aab4a;
$white: #ffffff;
$graphite-10: #f5f5f5;
$graphite-20: #e0e0e0;
$graphite-120: #141414;
$graphite-96: #f5f5f5;
$graphite-90: #525252;
$graphite-60: #8f8f8f;
$graphite-30: #cccccc;

$text-200-font-style: normal;
$text-200-font-weight: 500;
$text-200-font-size: 12px;
$text-200-line-height: 16px;

$screen-sm: 768px;

$form-input-base-height: 48px;
$form-input-border-radius: 2px;

$text-250-font-style: normal;
$text-250-font-weight: 500;
$text-250-font-size: 14px;
$text-250-line-height: 20px;

$text-250e-font-style: normal;
$text-250e-font-weight: 600;
$text-250e-font-size: 14px;
$text-250e-line-height: 20px;

// Primitive colors
$graphite-120: #141414;
$graphite-90: #525252;
$graphite-60: #8f8f8f;
$graphite-30: #cccccc;
$graphite-10: #f5f5f5;
$white: #ffffff;

$red-60: #d74b46;
$yellow-50: #f1b056;
$green-30: #4aab4a;
$blue-50: #66c4e0;
$beige-10: #f3ede9;

// Abstract colors
$brand-primary: $graphite-120;
$darkest: $graphite-120;
$darker: $graphite-90;
$medium: $graphite-60;
$light: $graphite-30;
$lightest: $graphite-10;

$attention: $red-60;
$caution: $yellow-50;
$success: $green-30;
$information: $blue-50;
$brand-background: $beige-10;

// Social media colors
$color-twitter: #03aaf5;
$color-pinterest: #d02621;
