@import 'variables';
@import 'placeholders';

%form-text {
  @extend %text-200;
  display: inline-flex;
  align-items: center;
  padding: 4px 0;
  margin: 0;
}

.p-f-error {
  @extend %form-text;
  color: $red-60;
}

.p-f-label-title {
  @extend %form-text;
}

.p-f-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: $graphite-10;
  border-radius: 2px;
  border-bottom: solid 2px;
  border-color: $graphite-10;
  overflow: hidden;
  outline: none;

  &:hover {
    border-color: $graphite-30;
  }

  &:active,
  &:focus,
  &:focus-within {
    border-color: $graphite-120;
  }

  input {
    box-shadow: none;
    border: none;
    outline: none;
    background: $graphite-10;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 0 12px 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: $graphite-120;
  }
}

.p-f-label {
  display: flex;
  flex-direction: column;
  &.p-error {
    .p-f-input-container {
      border-color: $red-60;
    }
  }
}
.p-f-label__datepicker {
  .react-datepicker-wrapper {
    flex-grow: 1;
    display: flex;
    .react-datepicker__input-container {
      display: flex;
    }
  }

  .react-datepicker-popper {
    z-index: 3;
  }
}

.p-f-input {
  border: none;
  background: $graphite-10;
  border-radius: 2px;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  color: $graphite-120;
  padding: 14px 16px 12px;
  width: 100%;
  border-bottom: solid 2px $graphite-10;

  &:not([disabled]):not(.p-error) {
    &:hover {
      border-color: $graphite-30;
    }

    &:active,
    &:focus,
    &:focus-within {
      border-color: $graphite-120;
    }
  }

  &.p-error {
    border-color: $red-60;
  }

  &:disabled {
    color: $graphite-60;
    cursor: not-allowed;
  }
}
