@import 'variables';

.p-f-select {
  position: relative;
  display: flex;

  .p-icon {
    transition: transform 300ms linear;
  }

  .p-f-select__label-wrap {
    background: $graphite-10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $form-input-base-height;
    box-sizing: border-box;
    padding: 18px 16px;
    min-width: 200px;
    border-radius: $form-input-border-radius;
    width: 100%;
    cursor: pointer;

    .p-f-select__label {
      text-overflow: ellipsis;
      max-width: calc(100% - 20px);
      white-space: nowrap;
      overflow: hidden;
      color: $graphite-8;
      font-size: $base-font-size - 2px;
      font-weight: 500;
    }
  }

  .p-f-select__dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: $white;
    border-radius: $form-input-border-radius + 2px;
    box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.05);
    padding-left: 0;
    display: none;
    opacity: 0;
    transition: opacity 300ms linear;
    padding-top: 8px;
    padding-bottom: 8px;

    li {
      list-style: none;
      padding: 10px 20px 10px 20px;
      line-height: $base-font-size + 2px;
      cursor: pointer;
      transition: background-color 300ms linear, opacity 300ms linear;

      &:hover {
        opacity: 0.8;
        outline: none;
        background: $graphite-10;
      }
    }
  }

  &.open {
    .p-icon {
      transform: rotate(180deg);
    }

    .p-f-select__dropdown {
      display: block;
      opacity: 1;
    }
  }
}
